<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Login</h1>
                <form action="/login" method="POST">
                    <div class="form-group
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                    <% emailErrorMessage = false %>
                    <% if(errors.length>0) { %>
                        <% errors.forEach(error => { %>
                            <% if (!emailErrorMessage && error.path === 'email') { %>
                                <div style="color: red;"><%= error.msg %></div>
                                <% emailErrorMessage=true %>
                            <% } %>
                        <% }) %>
                    <% } %>
                    </div>
                    <div class="form-group>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                    <% passwordErrorMessage = false %>
                    <% if(errors.length>0) { %>
                        <% errors.forEach(error => { %>
                            <% if (!emailErrorMessage && error.path === 'password') { %>
                                <div style="color: red;"><%= error.msg %></div>
                                <% passwordErrorMessage=true %>
                            <% } %>
                        <% }) %>
                    <% } %>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <hr>
                    <p>Don't have an account? <a href="/register">Register</a></p>
                </form>
            </div>
        </div>
    </div>
    <!-- script -->
    <%- include('./partials/script.ejs')%>
</body>
</html>